<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.6//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/davendiv</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">extraordinary</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
	
		<mapping class="com.davendiv.divyansh.pojo.Users" />
		<mapping class="com.davendiv.divyansh.pojo.Login" />
		
		<mapping class="com.davendiv.divyansh.pojo.Education" />
		<mapping class="com.davendiv.divyansh.pojo.Experience" />
		<mapping class="com.davendiv.divyansh.pojo.Role" />
		<mapping class="com.davendiv.divyansh.pojo.Group" />
		<mapping class="com.davendiv.divyansh.pojo.Davenfeed" />
		<mapping class="com.davendiv.divyansh.pojo.Sessions" />
		<mapping class="com.davendiv.divyansh.pojo.Project" />
		<mapping class="com.davendiv.divyansh.pojo.Connectiondetails" />
		<mapping class="com.davendiv.divyansh.pojo.Inbox" />
		<mapping class="com.davendiv.divyansh.pojo.Post" />
		<mapping class="com.davendiv.divyansh.pojo.Message" />
		<mapping class="com.davendiv.divyansh.pojo.Comment" />
		<mapping class="com.davendiv.divyansh.pojo.PersonalInfo" />
		<mapping class="com.davendiv.divyansh.pojo.Notification" />
		<mapping class="com.davendiv.divyansh.pojo.ConnectionNotification" />
	</session-factory>
</hibernate-configuration>
